@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");

* {
  font-family: "Didact Gothic", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 100%;
}

header {
  display: flex;
  flex-direction: column;
}

header .main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
}

.logo {
  margin-left: 2.5rem;
  position: absolute;
}

.logo img {
  max-width: 60px;
  max-height: 60px;
  transform: translateY(2px);
}

#menu-button {
  display: none;
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 1.8em;
  cursor: pointer;
}

.nav-link {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  font-weight: 700;
  font-size: 19px;
  flex-grow: 1;
}

.nav-link li {
  margin-right: 0.3125rem;
  margin-left: 0.3125rem;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
}

.nav-link li a {
  text-decoration: none;
  color: black;
}

.nav-link li:last-child {
  font-size: 1rem;
}

#more {
  cursor: pointer;
}

#more a {
  color: #ff764d;
}

#more-indicator {
  width: 0.8rem;
  height: 0.8rem;
  margin-left: 0.5rem;
}

#try-live {
  color: #0000ff;
  font-size: 18px;
  margin-left: auto;
}

header .nav-separator,
main .footer-separator {
  height: 0;
  border-top: 2px solid #eee;
  display: flex;
}

#more-container {
  display: none;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 2.6em;
  padding-top: 1.4em;
  width: 100%;
}

#more-1 {
  padding-bottom: 1.5625rem;
}

#more-1 ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

#more-1 ul li {
  padding-left: 1rem;
  padding-right: 1rem;
}

#more-1 ul li:first-child {
  padding-left: 0;
  padding-right: 1rem;
}

#orange-text {
  color: rgb(255, 118, 77);
}

#more-2 {
  padding-top: 1.5625rem;
}

#more-2-container {
  display: flex;
  flex-direction: row;
}

#more-2-container div {
  padding: 0rem 1.25rem;
}

#more-2-container div:first-child {
  padding-left: 0rem;
}

#more-2-container div:last-child {
  padding-right: 0rem;
}

.more-text-1 {
  font-size: 1.7rem;
  font-weight: 900;
  line-height: 1.5;
  padding-bottom: 0.8rem;
}

.more-text-2 {
  font-size: 1.05rem;
  line-height: 1.6;
  font-weight: 300;
  text-decoration: none;
  color: black;
}

.more-2-h2 {
  font-size: 1.05rem;
  line-height: 1.6;
  font-weight: 900;
}
/* in order position sticky to work, do not make the secondary nav to be a child of heaeder*/
.secondary-nav {
  display: flex;
  padding-left: 2.5em;
  background: rgba(255, 255, 255, 0.9);
  align-items: center;
  height: 3.75rem;
  position: sticky;
  top: 0;
}

.secondary-nav .left-secondary-nav {
  display: flex;
  flex-direction: row;
  flex-basis: 110px;
  justify-content: space-between;
}

.secondary-nav .left-secondary-nav a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 700;
}

.secondary-nav .left-secondary-nav .about:first-child {
  color: #ff764d;
}

main {
  display: flex;
  flex-direction: column;
}

main .hero-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: no-repeat center center/ cover url(Images/hero-image.jpg);
  height: 40em;
  margin: 0 8.3333vw 8.3333vw 8.3333vw;
}

main .ableton {
  color: #fd5948;
  font-weight: bold;
  font-size: 9em;
  letter-spacing: -5px;
}

main .about-text {
  width: 50vw;
  display: flex;
  flex-direction: column;
  margin: 0 auto 8.3vw;
}

main .about-text .about-text-1 {
  font-size: 1.7rem;
  line-height: 42px;
  font-weight: bold;
  max-width: 100%;
  margin-bottom: 1rem;
}

main .about-text .about-text-2 {
  font-size: 1.15rem;
  line-height: 1.8;
}

main .about-text .about-text-1 .blue-text {
  color: rgb(0, 0, 255);
}

main .collage-lemonade {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 8.3vw 0;
  margin-bottom: 8.333vw;
}

main .collage-lemonade .lemonade-1 {
  background-image: url(Images/lemonade-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  width: 41.6vw;
  height: 41.6vw;
}

main .collage-lemonade .lemonade-2 {
  background-image: url(Images/lemonade-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  width: 33.333%;
  height: 25vw;
}

main .collage-lemonade .background-lemonade {
  position: absolute;
  width: 58.4%;
  min-height: 58.16vw;
  background-color: #fbffa7;
  left: 41.6%;
  z-index: -1;
}

main .youtube-embed {
  display: flex;
  margin: 0 auto 8.3vw;
  width: 50vw;
  flex-direction: column;
}

main .youtube-embed iframe {
  width: 100%;
  height: 28em;
  margin-bottom: 0.5rem;
}

main .collage-lime {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 8.3vw 0;
  max-height: 74.5vw;
  justify-content: space-between;
  align-content: space-evenly;
  margin-bottom: 8.3vw;
  position: relative;
  z-index: -1;
}

main .collage-lime .lime-1 {
  background-image: url(Images/lime-1.jpg);
}

main .collage-lime .lime-2 {
  background-image: url(Images/lime-2.jpg);
}

main .collage-lime .lime-1,
main .collage-lime .lime-2 {
  width: 33.333vw;
  height: 25vw;
  background-position: center;
  background-size: cover;
}

main .collage-lime .lime-3 {
  background-image: url(Images/lime-3.jpg);
  width: 41.6vw;
  height: 41.6vw;
  background-position: center;
  background-size: cover;
  margin-top: 8.3vw;
}

main .collage-lime .background-lime {
  position: absolute;
  width: 58.4vw;
  min-height: 74.5vw;
  background-color: #b6ffc0;
  right: 41.8%;
  z-index: -1;
  top: 0;
}

main .big-image {
  background: url(Images/bigimage.webp) center center/cover;
  margin: 0 8.3vw 8.3vw;
  width: 83.4vw;
  min-height: 46.85vw;
}

main .about-text #about-text-mid {
  margin-bottom: 1em;
}

main .collage-lavender {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 8.3vw 0;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8.3vw;
  z-index: -1;
}

main .collage-lavender .background-lavender {
  position: absolute;
  width: 66.66vw;
  height: 58.33vw;
  background: #d5b3ff;
  left: 16.66vw;
  z-index: -1;
}

main .collage-lavender .lavender-1 {
  background: url(Images/lavender-1.jpg) center/cover;
  width: 33.33vw;
  height: 25vw;
  margin: 8.3vw;
}

main .collage-lavender .lavender-2 {
  background: url(Images/lavender-2.jpg) center/cover;
  width: 41.6vw;
  height: 41.6vw;
}

main .job-teaser {
  display: flex;
  flex-direction: row;
  margin: 0 8.3vw 8.3vw;
  height: 41.66vw;
}

main .job-teaser .job-photo {
  background: url(Images/job-teaser.jpg) 83% 50% / cover;
  width: 41.6vw;
}

main .job-teaser .job-text {
  background: #b1c5ff;
  width: 41.6vw;
  padding: 8.3vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

main .job-teaser .job-text p,
main .job-teaser .latest-job {
  font-size: 1.875rem;
  line-height: 1.4;
  font-weight: bold;
}

main .job-teaser .latest-job {
  color: rgb(0, 0, 255);
}

footer {
  display: flex;
  padding: 8.33vw;
  flex-direction: column;
}

footer .text-logo {
  width: 188px;
  padding-bottom: 4.15vw;
}

footer .footer-row-1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4.166vw;
}

footer .footer-row-1 .social-links {
  display: flex;
  flex-direction: column;
  width: 30%;
}

footer .footer-text-1 {
  font-size: 1.2rem;
  font-weight: 900;
  line-height: 1.5;
}

footer .footer-row-1 .email-form #form,
footer .footer-row-1 .email-form #button,
footer .footer-text-2 {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-weight: 550;
  line-height: 1.8;
}

footer .footer-row-1 .social-links .social-media-logos {
  display: flex;
  width: 100%;
}

footer .footer-row-1 .social-links .social-media-logos a img {
  width: 40px;
  height: 40px;
  margin: 0.625rem 0.625rem 0 0;
}

footer .footer-row-1 .education-links {
  width: 30%;
}

footer .footer-row-1 .news-letter {
  width: 40%;
}

footer .footer-row-1 .news-letter .email-form form {
  width: 100%;
  display: flex;
  margin-top: 1em;
}

footer .footer-row-1 .news-letter #form {
  flex-grow: 1;
  padding: 0.4em 0.75em;
  border: none;
  background-color: rgb(238, 238, 238);
  color: rgb(193, 193, 193);
  line-height: 1.3;
}

footer .footer-row-1 .news-letter #button {
  padding: 0.35em 1.5em;
  border: none;
  background-color: blue;
  color: white;
  font-weight: bold;
  font-size: 1.15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.3;
}

footer .footer-row-2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4.166vw;
}

footer .footer-row-2 .community {
  width: 30%;
}

footer .footer-row-2 .distributors {
  width: 30%;
}

footer .footer-row-2 .language-location {
  width: 40%;
}

.language-location-container {
  display: flex;
  margin-top: 0.75em;
}

#language,
#location {
  background: rgb(238, 238, 238);
  border: none;
  padding: 0.35em 50px 0.35em 0.75em;
  font-size: 0.8rem;
  font-weight: bold;
}

#language {
  margin-right: 0.1em;
}

footer .footer-row-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row-3-left {
  display: flex;
}

footer .footer-row-3 .left-link {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 0.8rem;
  line-height: 1.5;
  margin-right: 1em;
}

.row-3-right {
  display: flex;
}

@media (max-width: 1275px) {
  .logo {
    margin-left: 1.25rem;
  }

  #more-container {
    padding-left: 1.3em;
    padding-right: 1.3em;
    padding-top: 0.7em;
  }

  #more-2 {
    padding-top: 0.5rem;
  }

  .more-text-1 {
    font-size: 1.4rem;
  }

  .more-text-2 {
    font-size: 0.9rem;
  }

  .more-2-h2 {
    font-size: 0.9rem;
  }

  .secondary-nav {
    padding-left: 1.3em;
  }

  .nav-link li:last-child,
  .secondary-nav .left-secondary-nav a {
    font-size: 0.875rem;
  }

  main .job-teaser {
    flex-direction: column;
    height: auto;
  }

  main .job-teaser .job-photo {
    width: 100%;
    height: 50vw;
  }

  main .job-teaser .job-text {
    width: 100%;
  }

  main .job-teaser .job-text p {
    padding-bottom: 1em;
  }

  footer .footer-text-1 {
    font-size: 0.9rem;
    font-weight: 900;
    line-height: 1.5;
  }

  footer .footer-row-1 .email-form #form,
  footer .footer-row-1 .email-form #button,
  footer .footer-text-2 {
    font-size: 0.9rem;
  }
}

@media (max-width: 1270px) {
  main .about-text {
    width: 66%;
  }

  main .youtube-embed {
    width: 66%;
  }
}

@media (max-width: 1020px) {
  header .main-nav {
    justify-content: flex-start;
    position: absolute;
  }

  #menu-button {
    display: block;
  }

  .nav-link {
    /* position: absolute; */
    flex-direction: column;
    z-index: 9;
  }

  main .about-text .about-text-1 {
    font-size: 1.15rem;
    line-height: 1.7;
  }

  main .about-text .about-text-2 {
    font-size: 0.9rem;
  }

  main .youtube-embed iframe {
    height: 20rem;
  }

  main .job-teaser .job-text p,
  main .job-teaser .latest-job {
    font-size: 1.25rem;
  }

  footer .text-logo {
    width: 122px;
  }

  footer .footer-row-1 {
    flex-direction: column;
    margin: 0;
  }

  footer .footer-row-1 .social-links,
  footer .footer-row-1 .education-links,
  footer .footer-row-1 .news-letter {
    width: 100%;
    padding-bottom: 4.165vw;
  }

  footer .footer-row-1 .news-letter {
    order: -1;
  }

  #form {
    max-width: 100%;
  }

  #button {
    width: 96px;
  }

  footer .footer-row-2 {
    flex-direction: column;
    margin: 0;
  }

  footer .footer-row-2 .community,
  footer .footer-row-2 .distributors,
  footer .footer-row-2 .language-location {
    width: 100%;
    padding-bottom: 4.165vw;
  }

  footer .footer-row-3 {
    flex-direction: column;
  }

  .row-3-left {
    flex-direction: column;
  }

  .left-link {
    margin-bottom: 0.5em;
  }

  .row-3-right {
    margin-top: 8.3vw;
  }

  .row-3-right .made-in {
    order: 2;
    margin: 0;
    margin-left: 1em;
  }
}

@media (max-width: 765px) {
  main .hero-image .ableton {
    font-size: 5em;
  }

  main .about-text {
    width: 83.34vw;
  }

  main .youtube-embed {
    width: 83.34vw;
  }
}
